* {
    box-sizing: border-box
  }
  
  body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/round.png);
    margin: 0;
  }
  
  header {
    background-color: #f2f2f2;
    border-bottom: 4px solid #ccc;
    width: 100%;
    height: 100px;
    margin: auto;
  }

  h1 {
    font-family: 'Georgia', Times, Times New Roman, serif; 
  }
  
  .nameRight {
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
    box-align: center;
    height: 96px;
    padding: 0px 5px 0px 5px;
    margin-left: 332px;
  }
  
  .nameRight h1 {
    padding: 5px 30px 10px 30px;
  }
  
  .headerNavLeft {
    display: inline-block;
    list-style-type: none;
    margin-left: 342px;
  }
  
  .headerNavLeft li {
    display: inline-block;
    padding: 10px;
  }
  
  .headerNavLeft li a:link {
    text-decoration: none;
    color: grey;
  }

  .headerNavLeft li a:visited {
      color: grey;
  }
  
  .headerNavLeft li#portfolio {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  .content {
    background: white;
    border: 2px solid #ccc;
    width: 960px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
  }

  .content h1 {
    color: #4aaaa5;
    margin-top:0;
  }
  
  .lineBreak {
    border-bottom: 2px solid #ccc;
  }
  
  footer {
    background-color: gray;
    color: white;
    border-top: 8px solid #4aaaa5;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  