* {box-sizing: border-box}
  
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

    margin: 0;

    color: #777;
    background-image: url(../images/round/round.png);
}

h1, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;

    color: #ffffff;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    margin: auto;

    border-bottom: 3px solid #ccc;
    background-color: #fff;
}

.headerContainer {
      width: 960px;
      margin: 0 auto;
}

  
/* name on the left */
.nameLeft {
    display: inline-block;

    height: 96px;
    padding: 0 5px 0 5px;

    background-color: #4aaaa5;
}

  
.nameLeft h1 {
    padding: 5px 30px 0px 30px;
}
  
/* nav */
.headerNavRight {
    position: relative;
    left: 348px;

    display: inline-block;

    list-style-type: none;
}
  
.headerNavRight li {
    display: inline-block;

    padding: 10px;
}
  
.headerNavRight li a:link {
    text-decoration: none;

    color: #777777;
}

.headerNavRight li a:visited {
    color: #777777;
}
  
.headerNavRight li#portfolio {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

/* end header start content section */
.contentContainer {
    width: 960px;
    margin-top: 179px;
    margin-right: auto;
    margin-bottom: 175px;
    margin-left: auto;
    padding: 25px;

    border: 2px solid #ddd;
    background: #fff;
}


.contentContainer h1 {
    margin-top: 0;

    color: #4aaaa5;
}

.contentContainer p {
    line-height: 36px;
}

  
.lineBreak {
    border-bottom: 3px solid #e0e0e0;
}

.linePush {
    padding-bottom: 10px;
}

/* index.html specific */
.aboutMeImg {
    float: left;

    width: 200px;
    height: 200px;
    margin-right: 36px;
    margin-bottom: 12px;
}

/* portfolio.html specific */
.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;

    width: 33.3%;
}
 
.row:after {
    display: table;
    clear: both;

    content: '';
}

/* projects in portfolio.html */
.content {
    position: relative;

    text-align: center;

    background-color: white;
}

.imageText {
    position: absolute;
    bottom: 5%;

    width: 100%;

    background-color: #4aaaa5;
   
}

/* contact.html specific */
.contactForm input {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px;
}

#formMessage {
    height: 200px;
    width: 100%;
    margin-bottom: 1em;
}

#formSubmit {
    width: 15%;

    border: none;
    background: #4aaaa5;
}

/* end .html specifics */

/* start footer */
footer {
    font-size: 16px;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 78px;

    text-align: center;

    color: #b8b6ac;
    border-top: 6px solid #4aaaa5;
    background-color: #666666;
  }
  
footer p {
    margin-top: 44px;
  }
/* the end :) */